/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .quick-nav-button a {
    padding: 8px 12px;
  }
  .quick-nav-button a span {
    margin-right: 5px;
  }
  .search-accordion .accordion-item .accordion-body {
    padding: 16px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
